In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('test1.csv')

In [5]:
df.shape

(43201, 84)

In [6]:
df

,time,P1_B2004,P1_B2016,P1_B3004,P1_B3005,P1_B4002,P1_B4005,P1_B400B,P1_B4022,P1_FCV01D,...,P4_ST_GOV,P4_ST_LD,P4_ST_PO,P4_ST_PS,P4_ST_PT01,P4_ST_TT01,attack,attack_P1,attack_P2,attack_P3
0,2020-07-07 15:00:00,0.10178,1.58771,403.78854,985.37353,32.59527,100.00000,2839.58520,36.81010,100.00000,...,20469.0,386.26666,380.31683,0,10044.0,27567.0,0,0,0,0
1,2020-07-07 15:00:01,0.10178,1.58725,403.78854,985.37353,32.59527,100.00000,2843.37549,36.80895,100.00000,...,20489.0,386.30286,380.02747,0,10040.0,27564.0,0,0,0,0
2,2020-07-07 15:00:02,0.10178,1.59519,403.78854,985.37353,32.59527,100.00000,2845.06006,36.82879,100.00000,...,20604.0,389.73883,381.52850,0,10037.0,27565.0,0,0,0,0
3,2020-07-07 15:00:03,0.10178,1.59747,403.78854,985.37353,32.59527,100.00000,2837.33911,36.83451,100.00000,...,20633.0,388.94311,382.08911,0,10040.0,27560.0,0,0,0,0
4,2020-07-07 15:00:04,0.10178,1.59869,403.78854,985.37353,32.59527,100.00000,2843.37549,36.83756,100.00000,...,20738.0,389.72082,383.44543,0,10042.0,27564.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43196,2020-07-08 02:59:56,0.10109,1.61632,395.43826,1115.26257,31.81634,79.42770,2440.14233,36.10442,37.51368,...,21044.0,394.91107,390.13672,50,10053.0,27593.0,0,0,0,0
43197,2020-07-08 02:59:57,0.10109,1.61891,395.43826,1115.26257,31.81634,79.52109,2455.06909,36.11090,37.72263,...,21073.0,397.35248,390.24518,50,10053.0,27599.0,0,0,0,0
43198,2020-07-08 02:59:58,0.10109,1.61815,395.43826,1115.26257,31.81634,79.62234,2446.70361,36.10899,37.83055,...,21064.0,396.70142,390.46222,50,10052.0,27599.0,0,0,0,0
43199,2020-07-08 02:59:59,0.10109,1.62609,395.43826,1115.26257,31.81634,79.71570,2444.73511,36.12883,37.67564,...,21171.0,397.73218,391.78241,50,10053.0,27603.0,0,0,0,0
43200,2020-07-08 03:00:00,0.10109,1.63081,395.43826,1115.26257,31.81634,79.81714,2459.82617,36.14066,37.76140,...,21112.0,397.24390,391.31219,50,10053.0,27595.0,0,0,0,0

In [7]:
df.columns

Index(['time', 'P1_B2004', 'P1_B2016', 'P1_B3004', 'P1_B3005', 'P1_B4002',
       'P1_B4005', 'P1_B400B', 'P1_B4022', 'P1_FCV01D', 'P1_FCV01Z',
       'P1_FCV02D', 'P1_FCV02Z', 'P1_FCV03D', 'P1_FCV03Z', 'P1_FT01',
       'P1_FT01Z', 'P1_FT02', 'P1_FT02Z', 'P1_FT03', 'P1_FT03Z', 'P1_LCV01D',
       'P1_LCV01Z', 'P1_LIT01', 'P1_PCV01D', 'P1_PCV01Z', 'P1_PCV02D',
       'P1_PCV02Z', 'P1_PIT01', 'P1_PIT02', 'P1_PP01AD', 'P1_PP01AR',
       'P1_PP01BD', 'P1_PP01BR', 'P1_PP02D', 'P1_PP02R', 'P1_STSP', 'P1_TIT01',
       'P1_TIT02', 'P2_24Vdc', 'P2_ASD', 'P2_AutoGO', 'P2_CO_rpm', 'P2_Emerg',
       'P2_HILout', 'P2_MSD', 'P2_ManualGO', 'P2_OnOff', 'P2_RTR', 'P2_SIT01',
       'P2_SIT02', 'P2_TripEx', 'P2_VT01', 'P2_VTR01', 'P2_VTR02', 'P2_VTR03',
       'P2_VTR04', 'P2_VXT02', 'P2_VXT03', 'P2_VYT02', 'P2_VYT03', 'P3_FIT01',
       'P3_LCP01D', 'P3_LCV01D', 'P3_LH', 'P3_LIT01', 'P3_LL', 'P3_PIT01',
       'P4_HT_FD', 'P4_HT_LD', 'P4_HT_PO', 'P4_HT_PS', 'P4_LD', 'P4_ST_FD',
       'P4_ST_GOV', 'P4_ST_LD', 'P4_ST_PO', 'P4_ST_PS', 'P4_ST_PT01',
       'P4_ST_TT01', 'attack', 'attack_P1', 'attack_P2', 'attack_P3'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43201 entries, 0 to 43200
Data columns (total 84 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         43201 non-null  object
 1   P1_B2004     43201 non-null  float64
 2   P1_B2016     43201 non-null  float64
 3   P1_B3004     43201 non-null  float64
 4   P1_B3005     43201 non-null  float64
 5   P1_B4002     43201 non-null  float64
 6   P1_B4005     43201 non-null  float64
 7   P1_B400B     43201 non-null  float64
 8   P1_B4022     43201 non-null  float64
 9   P1_FCV01D    43201 non-null  float64
 10  P1_FCV01Z    43201 non-null  float64
 11  P1_FCV02D    43201 non-null  float64
 12  P1_FCV02Z    43201 non-null  float64
 13  P1_FCV03D    43201 non-null  float64
 14  P1_FCV03Z    43201 non-null  float64
 15  P1_FT01      43201 non-null  float64
 16  P1_FT01Z     43201 non-null  float64
 17  P1_FT02      43201 non-null  float64
 18  P1_FT02Z     43201 non-null  float64
 19  P1_FT03      43201 non-null  float64
 20  P1_FT03Z     43201 non-null  float64
 21  P1_LCV01D    43201 non-null  float64
 22  P1_LCV01Z    43201 non-null  float64
 23  P1_LIT01     43201 non-null  float64
 24  P1_PCV01D    43201 non-null  float64
 25  P1_PCV01Z    43201 non-null  float64
 26  P1_PCV02D    43201 non-null  float64
 27  P1_PCV02Z    43201 non-null  float64
 28  P1_PIT01     43201 non-null  float64
 29  P1_PIT02     43201 non-null  float64
 30  P1_PP01AD    43201 non-null  int64
 31  P1_PP01AR    43201 non-null  int64
 32  P1_PP01BD    43201 non-null  int64
 33  P1_PP01BR    43201 non-null  int64
 34  P1_PP02D     43201 non-null  int64
 35  P1_PP02R     43201 non-null  int64
 36  P1_STSP      43201 non-null  int64
 37  P1_TIT01     43201 non-null  float64
 38  P1_TIT02     43201 non-null  float64
 39  P2_24Vdc     43201 non-null  float64
 40  P2_ASD       43201 non-null  int64
 41  P2_AutoGO    43201 non-null  int64
 42  P2_CO_rpm    43201 non-null  float64
 43  P2_Emerg     43201 non-null  int64
 44  P2_HILout    43201 non-null  float64
 45  P2_MSD       43201 non-null  float64
 46  P2_ManualGO  43201 non-null  int64
 47  P2_OnOff     43201 non-null  int64
 48  P2_RTR       43201 non-null  int64
 49  P2_SIT01     43201 non-null  float64
 50  P2_SIT02     43201 non-null  float64
 51  P2_TripEx    43201 non-null  int64
 52  P2_VT01      43201 non-null  float64
 53  P2_VTR01     43201 non-null  int64
 54  P2_VTR02     43201 non-null  int64
 55  P2_VTR03     43201 non-null  int64
 56  P2_VTR04     43201 non-null  int64
 57  P2_VXT02     43201 non-null  float64
 58  P2_VXT03     43201 non-null  float64
 59  P2_VYT02     43201 non-null  float64
 60  P2_VYT03     43201 non-null  float64
 61  P3_FIT01     43201 non-null  float64
 62  P3_LCP01D    43201 non-null  int64
 63  P3_LCV01D    43201 non-null  int64
 64  P3_LH        43201 non-null  int64
 65  P3_LIT01     43201 non-null  float64
 66  P3_LL        43201 non-null  int64
 67  P3_PIT01     43201 non-null  float64
 68  P4_HT_FD     43201 non-null  float64
 69  P4_HT_LD     43201 non-null  float64
 70  P4_HT_PO     43201 non-null  float64
 71  P4_HT_PS     43201 non-null  int64
 72  P4_LD        43201 non-null  float64
 73  P4_ST_FD     43201 non-null  float64
 74  P4_ST_GOV    43201 non-null  float64
 75  P4_ST_LD     43201 non-null  float64
 76  P4_ST_PO     43201 non-null  float64
 77  P4_ST_PS     43201 non-null  int64
 78  P4_ST_PT01   43201 non-null  float64
 79  P4_ST_TT01   43201 non-null  float64
 80  attack       43201 non-null  int64
 81  attack_P1    43201 non-null  int64
 82  attack_P2    43201 non-null  int64
 83  attack_P3    43201 non-null  int64
dtypes: float64(55), int64(28), object(1)
memory usage: 27.7+ MB

In [9]:
X=df.drop(['time','P2_24Vdc', 'P2_ASD', 'P2_AutoGO', 'P2_CO_rpm', 'P2_Emerg',
       'P2_HILout', 'P2_MSD', 'P2_ManualGO', 'P2_OnOff', 'P2_RTR', 'P2_SIT01',
       'P2_SIT02', 'P2_TripEx', 'P2_VT01', 'P2_VTR01', 'P2_VTR02', 'P2_VTR03',
       'P2_VTR04', 'P2_VXT02', 'P2_VXT03', 'P2_VYT02', 'P2_VYT03', 'P3_FIT01',
       'P3_LCP01D', 'P3_LCV01D', 'P3_LH', 'P3_LIT01', 'P3_LL', 'P3_PIT01',
       'P4_HT_FD', 'P4_HT_LD', 'P4_HT_PO', 'P4_HT_PS', 'P4_LD', 'P4_ST_FD',
       'P4_ST_GOV', 'P4_ST_LD', 'P4_ST_PO', 'P4_ST_PS', 'P4_ST_PT01',
       'P4_ST_TT01', 'attack', 'attack_P1', 'attack_P2', 'attack_P3'],axis=1)
y=df['attack_P1']

In [10]:
X

,P1_B2004,P1_B2016,P1_B3004,P1_B3005,P1_B4002,P1_B4005,P1_B400B,P1_B4022,P1_FCV01D,P1_FCV01Z,...,P1_PIT02,P1_PP01AD,P1_PP01AR,P1_PP01BD,P1_PP01BR,P1_PP02D,P1_PP02R,P1_STSP,P1_TIT01,P1_TIT02
0,0.10178,1.58771,403.78854,985.37353,32.59527,100.00000,2839.58520,36.81010,100.00000,99.91608,...,0.27557,540833,540833,0,0,1,1,1,34.88770,35.14710
1,0.10178,1.58725,403.78854,985.37353,32.59527,100.00000,2843.37549,36.80895,100.00000,99.91608,...,0.27710,540833,540833,0,0,1,1,1,34.88770,35.14710
2,0.10178,1.59519,403.78854,985.37353,32.59527,100.00000,2845.06006,36.82879,100.00000,99.91608,...,0.27710,540833,540833,0,0,1,1,1,34.88770,35.14710
3,0.10178,1.59747,403.78854,985.37353,32.59527,100.00000,2837.33911,36.83451,100.00000,99.91608,...,0.27557,540833,540833,0,0,1,1,1,34.88770,35.14710
4,0.10178,1.59869,403.78854,985.37353,32.59527,100.00000,2843.37549,36.83756,100.00000,99.90845,...,0.27710,540833,540833,0,0,1,1,1,34.90295,35.14710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43196,0.10109,1.61632,395.43826,1115.26257,31.81634,79.42770,2440.14233,36.10442,37.51368,37.21771,...,0.82565,540833,540833,0,0,1,1,1,35.22338,35.60485
43197,0.10109,1.61891,395.43826,1115.26257,31.81634,79.52109,2455.06909,36.11090,37.72263,37.21008,...,0.82565,540833,540833,0,0,1,1,1,35.23864,35.63538
43198,0.10109,1.61815,395.43826,1115.26257,31.81634,79.62234,2446.70361,36.10899,37.83055,37.21771,...,0.82642,540833,540833,0,0,1,1,1,35.23864,35.60485
43199,0.10109,1.62609,395.43826,1115.26257,31.81634,79.71570,2444.73511,36.12883,37.67564,37.21771,...,0.82260,540833,540833,0,0,1,1,1,35.25391,35.62011
43200,0.10109,1.63081,395.43826,1115.26257,31.81634,79.81714,2459.82617,36.14066,37.76140,37.21771,...,0.82489,540833,540833,0,0,1,1,1,35.22338,35.60485

In [11]:
y

0        0
1        0
2        0
3        0
4        0
        ..
43196    0
43197    0
43198    0
43199    0
43200    0
Name: attack_P1, Length: 43201, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
X_train.dtypes

P1_B2004     float64
P1_B2016     float64
P1_B3004     float64
P1_B3005     float64
P1_B4002     float64
P1_B4005     float64
P1_B400B     float64
P1_B4022     float64
P1_FCV01D    float64
P1_FCV01Z    float64
P1_FCV02D    float64
P1_FCV02Z    float64
P1_FCV03D    float64
P1_FCV03Z    float64
P1_FT01      float64
P1_FT01Z     float64
P1_FT02      float64
P1_FT02Z     float64
P1_FT03      float64
P1_FT03Z     float64
P1_LCV01D    float64
P1_LCV01Z    float64
P1_LIT01     float64
P1_PCV01D    float64
P1_PCV01Z    float64
P1_PCV02D    float64
P1_PCV02Z    float64
P1_PIT01     float64
P1_PIT02     float64
P1_PP01AD      int64
P1_PP01AR      int64
P1_PP01BD      int64
P1_PP01BR      int64
P1_PP02D       int64
P1_PP02R       int64
P1_STSP        int64
P1_TIT01     float64
P1_TIT02     float64
dtype: object

In [14]:
X_train.shape

(34560, 38)

In [15]:
X_test

,P1_B2004,P1_B2016,P1_B3004,P1_B3005,P1_B4002,P1_B4005,P1_B400B,P1_B4022,P1_FCV01D,P1_FCV01Z,...,P1_PIT02,P1_PP01AD,P1_PP01AR,P1_PP01BD,P1_PP01BR,P1_PP02D,P1_PP02R,P1_STSP,P1_TIT01,P1_TIT02
15313,0.10049,1.32183,406.61285,1057.21838,32.96325,91.03789,2831.72388,36.51661,100.00000,99.79400,...,0.27557,540833,540833,0,0,1,1,1,36.68823,37.31384
10982,0.10049,1.36807,406.61285,1057.21838,32.96325,100.00000,2853.18994,36.63220,100.00000,99.80164,...,0.27634,540833,540833,0,0,1,1,1,35.14710,35.42175
34147,0.10109,1.25270,395.43826,1115.26257,31.81634,100.00000,2835.51392,35.19537,100.00000,99.95309,...,0.27481,540833,540833,0,0,1,1,1,35.00976,35.33019
28889,0.10109,1.38591,395.43826,1115.26257,31.81634,0.00000,36.94299,35.52840,0.00000,0.28381,...,0.20462,540833,540833,0,0,1,1,1,35.74219,37.83263
1007,0.10178,1.59373,403.78854,985.37353,32.59527,100.00000,2837.47949,36.82516,100.00000,99.91989,...,0.27596,540833,540833,0,0,1,1,1,34.83429,35.56671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15688,0.10049,1.18527,406.61285,1057.21838,32.96325,84.12187,2842.39282,36.17519,90.52824,91.43219,...,0.27481,540833,540833,0,0,1,1,1,36.64245,37.10022
35807,0.10109,1.60301,395.43826,1115.26257,31.81634,100.00000,2828.07385,36.07113,100.00000,99.42293,...,0.27481,540833,540833,0,0,1,1,1,35.35690,37.55799
15448,0.10049,1.35922,406.61285,1057.21838,32.96325,88.70673,2848.28857,36.61007,99.24728,99.79400,...,0.27710,540833,540833,0,0,1,1,1,36.70349,37.22229
20983,0.10177,1.34905,394.21475,1086.26758,32.43124,100.00000,2833.96997,36.04945,100.00000,99.13760,...,0.27557,540833,540833,0,0,1,1,1,35.46753,35.74219
24741,0.10177,1.46578,394.21475,1086.26758,32.43124,100.00000,2838.18115,36.34128,100.00000,99.81178,...,0.27710,540833,540833,0,0,1,1,1,34.76562,35.00976

In [16]:
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [17]:
y_pred = gnb.predict(X_test)

y_pred

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.7482

In [19]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [20]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.7484

In [21]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])

Confusion matrix

 [[6376 2176]
 [   0   89]]

True Positives(TP) =  6376

True Negatives(TN) =  89

False Positives(FP) =  2176

False Negatives(FN) =  0